---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Mua sách | Sách Hay Mỗi Ngày">
  <main>
    <section class="marketplace-band">
      <p>TÌM MUA SÁCH CHÍNH HÃNG</p>
      <h1>Dễ dàng trải nghiệm tủ sách của cá nhân mình</h1>
    </section>
  </main>
</BaseLayout>
